<mat-card>
  <mat-card-header>
    <h4>
      User:
      <!--
      TODO: Step-2 Pt.2 Add User Selector
      <mat-form-field>
        <mat-select
          placeholder="Select a User"
          (valueChange)="userOptionChange.emit($event)"
        >
          <mat-option
            *ngFor="let option of userOptions$ | async"
            [value]="option.value"
            >{{ option.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      -->
    </h4>
  </mat-card-header>
</mat-card>
